<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Song Add</title>

    <style>
        #addArtistBtn {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>


<div class="container-fluid">
    <div class="container">


        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="index.html">HOME</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="songSearch.html">Song</a>
                        <a class="nav-item nav-link" href="albumSearch.html">Album</a>
                        <a class="nav-item nav-link" href="artistSearch.html">Artist</a>
                        <a class="nav-item nav-link" href="labelSearch.html">Label</a>
                    </div>
                </div>
            </nav>
        </div>

        <br>

        <div class="container">
            <div class="card col-sm-6">
                {% if errors %}
                <div class="card-body">
                    <ul class="list-group .list-unstyled">
                    {% for error in errors %}
                        <li class="list-group-item list-group-item-danger">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Add A Song</h5>
                    <form action="/songAdd.html" method="POST">

                        <div class="form-group col-md-6">
                            <label for="songNameId">Song Name</label>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="songNameId"
                                    placeholder="Name of Song" name="songName" required>
                        </div>

                        <div class="form-group col-md-6" id="artistContainer">
                            <label for="artistId">Artist</label>
                            {% if rows.artist_result %}
                                <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="artistId"
                                        placeholder="Name of Artist" name="artistName" required>
                                    {% for r in rows.artist_result %}
                                        <option value="{{ r[0] }}">{{ r[0] }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>

                        <button type="button" class="btn btn-secondary" id="addArtistBtn"
                                onclick="addArtistInput()">Add another artist</button>
                        <br>

                        <div class="form-group col-md-6">
                            <label for="albumId">Album</label>
                            {% if rows.album_result %}
                                <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="albumId"
                                        placeholder="Name of Album" name="albumName" required>
                                    {% for r in rows.album_result %}
                                        <option value="{{ r[0] }}">{{ r[0] }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-primary" id="newSongSubmitId">Add Song</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    var getId = (function() {
        var count = 0;
        return function() {
            return ++count;
        }
    }());

    function addArtistInput() {
        var oldArtist = document.getElementById('artistContainer');
        var newArtist = oldArtist.cloneNode(true);

        var newId = getId();

        newArtist.setAttribute('id', newArtist.id + newId);

        var newLabel = newArtist.getElementsByTagName('label')[0];
        newLabel.setAttribute('for', newLabel.getAttribute('for').toString() + newId);

        var newSelect = newArtist.getElementsByTagName('select')[0];
        newSelect.id = newSelect.id + newId;
        newSelect.name = newSelect.name + newId;

        var newArtistBtn = document.getElementById('addArtistBtn');
        newArtistBtn.parentNode.insertBefore(newArtist, newArtistBtn);
    }
</script>

</body>
</html>
